



 body{
    background-color: gray;
    color:white;
}

header{
    text-align: center;
    text-transform:  capitalize;

}
#img{
    margin: 10px;
    position: relative;
    float: left ;
    clear: both;
}

#btn{
    margin-top:6px;
    margin-left: 5px;
    height: 30px;
    font-size: 16px;
    background-color:rgba(245, 6, 6, 0.562);
    color:white;
    
}
#btn:hover{
    background-color: white;
    color:rgba(245, 6, 6, 0.562);

}

footer{
    text-align: center;
    background-color: rgb(199, 200, 201);
    color: black;
    padding: 10px;
    font-size: x-large;
    
    bottom: 0;
    right:0;
    left:0;
    display: block;
   
 }

#parent-div-cars {
    display:flex;
    flex-wrap: wrap;
    margin-top:50px;
}

#parent-div-cars > div {
    flex: 1 1 800px;
    
}